body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 0.5s ease;
}

#terminal {
  display: inline-block;
}

#options {
  margin-top: 20px;
}

select,
button {
  background-color: #000000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  cursor: pointer;
}

button {
  padding: 8px 16px;
  margin-top: 20px;
  text-transform: lowercase;
  transition: text-transform 0.5s;
}

button:hover {
  text-transform: uppercase;
}

#displayText {
  margin-top: 20px;
  color: #00ff00;
  font-size: 18px;
  white-space: pre;
}

@keyframes glitch {
  0%, 20%, 100% {
    transform: translate(0);
    content: '';
  }
  10%, 30% {
    transform: translate(-2px, 2px);
    content: attr(data-text);
  }
  40%, 60% {
    transform: translate(2px, -2px);
    content: '';
  }
  70%, 90% {
    transform: translate(-2px, 2px);
    content: attr(data-text);
  }
}
