body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 0.5s ease;
  animation: fadeIn 1s ease; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#terminal {
  display: inline-block;
  opacity: 0; /* Initially hidden */
  animation: fadeInTerminal 1s ease forwards; /* Fade-in animation for the terminal */
}

@keyframes fadeInTerminal {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#options {
  margin-top: 20px;
}

select,
button {
  background-color: #000000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  cursor: pointer;
}

button {
  padding: 8px 16px;
  margin-top: 20px;
  text-transform: lowercase;
  transition: text-transform 0.5s;
}

button:hover {
  text-transform: uppercase;
}

#displayText {
  margin-top: 20px;
  color: #00ff00;
  font-size: 18px;
  white-space: pre; /* Preserve white spaces */
  animation: fadeInText 1s ease forwards; /* Fade-in animation for the display text */
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes glitch {
  0%, 20%, 100% {
    transform: translate(0);
    content: '';
  }
  10%, 30% {
    transform: translate(-2px, 2px);
    content: attr(data-text);
  }
  40%, 60% {
    transform: translate(2px, -2px);
    content: '';
  }
  70%, 90% {
    transform: translate(-2px, 2px);
    content: attr(data-text);
  }
}
