body {
  background-color: #000;
  color: #fff;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  margin-top: 50px;
  transition: background-color 0.5s ease;
  animation: fadeIn 1s ease; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#terminal {
  display: inline-block;
  opacity: 0; /* Initially hidden */
  animation: fadeInTerminal 1s ease forwards; /* Fade-in animation for the terminal */
}

@keyframes fadeInTerminal {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#options {
  margin-top: 20px;
}

select,
button.glitch-button { /* Apply glitch effect to the button */
  background-color: #000000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
  font-family: 'Helvetica', sans-serif;
  cursor: pointer;
  position: relative; /* Added for positioning ::before pseudo-element */
}

button.glitch-button:hover {
  text-transform: uppercase;
}

#displayText,
button.glitch-button {
  margin-top: 20px;
  color: #00ff00;
  font-size: 18px;
  white-space: pre; /* Preserve white spaces */
  position: relative; /* Added for positioning ::before pseudo-element */
}

#displayText::before,
button.glitch-button::before { /* Apply glitch effect to ::before pseudo-element */
  content: attr(data-text); /* Using the data-text attribute for content */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: glitch 1s infinite; /* Glitch effect applied to ::before pseudo-element */
}

@keyframes glitch {
  0%, 100% {
    transform: translate(0);
  }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    transform: translate(-2px, 2px);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    transform: translate(2px, -2px);
  }
}
